/*Add padding and margin to space out the page.
Make the font larger too.*/
/* Mobile View */
html {
    scroll-behavior: smooth;
}

/* #7e2a21 */
body{
	margin: 0;
  	padding: 0;
  	font-family: "Montserrat", sans-serif;
  	font-size: 16px;
	line-height:1.6em;
}

.line{
	height:3px;
	width: 70%;
	border-color: #8AD24B;
	background-color: #8AD24B;
	margin: auto;
	margin-top: 5px;
}

header{
	background: #21597E;
	padding-top: 20px;
	color: white;
	font-size: 30px;
  	border-bottom: 2px solid #8AD24B;
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	align-items: center;
}

.parallax_image_b{
	background-attachment: fixed;
  	background-repeat: repeat;
  	background-size: contain;
  	height: 150px;
  	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #8AD24B;

  	background-image: url('../images/paws.jpg');
}

.parallax_image_m{
	background-attachment: fixed;
	background-repeat: repeat;
  	background-size: contain;
	height: 150px;
  	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #8AD24B;

  	background-image: url('../images/movie-background.jpg');
}

.parallax_image_t{
	background-attachment: fixed;
	background-repeat:repeat;
  	background-size: contain;
  	height: 150px;
  	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #8AD24B;

  	background-image: url('../images/travel_header.png');
}

.parallax_image_i{
	background-attachment: fixed;
	background-repeat: repeat;
  	background-size: contain;
  	height: 150px;               
  	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #8AD24B;

  	background-image: url('../images/dot_background2.jpg');
}

.parallax_image_i h1, .parallax_image_b h1, .parallax_image_m h1, .parallax_image_t h1{
	font-weight:600;
	background: white;
	text-align: center;
	border: 5px #21597E solid;
	padding: 20px;
}

#logo {
	height: 150px;
	content: url('../images/header_logo_mobile1.png');
	margin-bottom: 15px;
	box-shadow: #000;
}

.nav_links{
	display: flex;
	font-size: 20px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: white;
	text-decoration: none;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 0;
}

.nav_links a{
	float: left;
	display: block;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding: 8px;
	margin: 5px;
}

.nav_links a:hover{
	background: black;
	color: white;
	border-style: solid black;
}

#current a{
	color: #8AD24B;
	outline: double #8AD24B;
	background-color: #00000065;
}

.skip a{
	background: white;
	color: black;
	font-weight: 400;
	left: 5px;
	position: absolute;
	top: -50px;
	padding: 5px;
	-webkit-transition: top 0.5s ease-out;
	transition: top 0.5s ease-out;
	z-index: 1;
}

.skip a:focus{
	position:fixed;
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
	top:10px;
}

.title {
	color: black;
	font-size: 12px;
}

.container {
	position: relative;
	text-align: left;
	font-size: 18px;
	margin: 20px;
}

.mobile_text{
	font-size: 18px;
	padding: 10px;
	text-align: center;
}

.p_space_below{
	padding-bottom: 20px;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
}

.p_space_above{
	padding-top: 20px;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
}

.container h1{
	margin: 30px;
	line-height:1.3em;
}

.container hr{
	display: none;
}

.intro_text{
	padding: 10px;
	text-align: center;
}

#about_image{
	display: block;
  	margin-left: auto;
	border: solid #21597E;
  	margin-right: auto;
	max-width: 500px;
  	height: 300px;
	text-align: center;
	margin-bottom: 10px;
}

.about_text{
	top: 50px;
	color: black;
	padding: 10px;
}

.list_grid{
	margin: auto;
	display: grid;
	text-align: left;
	padding-left: 10px;
}

.list_1{
	padding-top: 10px;
	margin: 5px 0;
}

.list_2{
	padding-top: 10px;
	margin: 5px 0;
}

ul.container_list li{
	list-style: square outside none;
	display: list-item;
	margin-left: 2em;
}

.bottom-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flip-card {
	width: 150px;
	height: 200px;
	margin: 10px;
}
  
.flip-card-inner {
	position: relative;
	width: 150px;
	height: 200px;
	text-align: center;
	transition: transform 0.8s;
	-webkit-transition: transform 0.8s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.flip-card-front img{
	width: 150px;
	height: 200px;
	border: 2px solid #21597E;
}

.flip-card-front a{
	pointer-events: none;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
	position: absolute;
	width: 150px;
	height: 200px;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
.flip-card-front {
	background-color: #bbb;
	color: black;
}
  
.flip-card-back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #21597E;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flip-card-back h2{
	color: white;
	font-size: 22px;
	margin: 20px;
}

.flip_link{
	color:white;
	background-color: black;
	padding: 10px;
	text-decoration: none;
	/* margin: 15px 20px; */
}

.flip_link:hover{
	text-decoration: underline;
}

.flip_link:active{
	border: double #8AD24B;
	text-decoration: underline;
}

a.links{
	color: #21597E;
	text-decoration: none;
}

a.links:hover{
	padding: 2px;
	margin-top: 10px;
	text-decoration: underline;
}

.sr-only{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
 }

h1 {
	position: relative;
	color: black;
	font-size: 30px;
	line-height: 0.9;
	text-align: center;
}

.empty_text{
	display: none;
}

.empty_text_tablet{
	display: none;
}

.desktop_text{
	display: none;
}

.pic_grid, .pic_grid_b{
	display: grid;
	height: fit-content;
    grid-gap: 10px;
	text-align: center;
}

.pic_grid .line{
	display: none;
}

.pic1{
	padding-top: 10px;
}

.pic_img{
	border: solid #21597E;
	margin: 10px 0;
	height: 250px;
	z-index: 1;
}

.pic_title{
	font-weight:500;
	font-size: 22px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 5px;
}

.pic_subtitle{
	font-size: 18px;
	text-align: center;
	padding-bottom: 5px;
}

.view {
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
	position: relative;
	background: #fff;
}

.view .mask { 
	display: flex;
	position: absolute;
	margin: 5px 0;
	height: 250px;
	width: 195px;
}

.view .info{
	display:none;
}

.view a.mask_link{
	display: flex;
	flex-direction: column;
	justify-self: center;
	position: absolute;
	height: 255px;
	width: 195px;
	z-index: 1;
}

.view a.mask{
	display: none;
}

figcaption {
	border-bottom: solid#8AD24B;
	padding-bottom: 20px;
	padding-top: 10px;
	font-size: 18px;
}

.pic6 figcaption{
	border: none;
}

.gallery{
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
	text-align: center;
}

.gal .pic_title{
	padding-top: 15px;
}

.g_text .g_text_lp, .g_text .g_text_rp{
	display: none;
}

.gallery_image{
	border: 5px #21597E solid;
	margin-top: 15px;
	height: 250px;
}

.g_text1, .g_text2{
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: solid#8AD24B;
}

.heading_full{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	color: #21597E;
	border-bottom: 2px solid #8AD24B;
	padding-bottom: 10px;
}

.form-group{
	display: flex;
	padding: 20px;
}

#contact_line .line{
	display:none;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type="text"], input[type="email"], textarea{
    padding: 12px;
    font-size: 14px;
    border: 2px solid #21597E75;
    width: 100%;
    color: #888;
    font-size: 16px;
	color: black;
	position: relative;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
	outline: 2px solid #8AD24B;
  }

input::placeholder, textarea::placeholder{
	color:#888;
	font-style: italic;
}

button:hover {
	opacity: 0.8;
}

#sub_button{
	display: flex;
	justify-content: center;
}

button{
	margin-top: 20px;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 20px;
	background-color: #21597E;
	box-shadow: black;
    border: none;
	border-radius: 4px;
    width: 50%;
	height: 60px;
    color: #fff;
    font-size: 16px;
}

button:active{
	background-color: #8AD24B;
	color: black;
}

footer{
	position: relative;
	font-weight: 400;
	color: white;
	background:black;
	padding: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer p{
	font-size: 14px;
}

#insta{
	content: url("../images/ig2.png");
	height: 34px;
	margin-right: 15px;
}

#contact{
	color: white;
	font-weight: 400px;
	font-size: 14px;
	text-decoration: none;
}

#contact:hover{
	color: #8AD24B;
	border-style: solid;
	padding: 5px;
}

#social_contact{
	display: flex;
	font-size: 20px;
	align-items: center;
	flex-direction: row;
	justify-content: flex-end;
	width: 20%;
	color: white;
}

/* tablet */
@media screen and (min-width : 768px) {
	body{
		font-size: 20px;
		line-height:1.3em;
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}
	header{
		padding: 18px 15px 10px 30px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	header .line{
		display: none;
	}

	h1{
		font-size: 40px;
	}

	#logo {
		content: url("../images/header_logo_mobile1.png");
		width: 300px;
		height: auto;
		margin-top: 10px;
		margin-left: -40px;
	}

	.nav_links{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-bottom: 15px;
		padding-top: 10px;
		margin-top: 0;
	}

	.parallax_image_b, .parallax_image_i, .parallax_image_m, .parallax_image_t {
		height: 250px;
	}

	.parallax_image_i h1, .parallax_image_b h1, .parallax_image_m h1, .parallax_image_t h1 {
		font-size: 40px;
	}

	.list_grid{
		margin: auto;
		display: grid;
		grid-template-columns: 2;
		column-gap: 30px;
		text-align: left;
		padding-left: 10px;
		/* justify-content: space-evenly; */
	}
	.line{
		display: none;
	}

	.list_1{
		grid-column: 1 / span 1;
		border-right: solid #8AD24B;
		padding-right: 20px;
	}

	ul.container_list li{
		list-style: square outside none;
		display: list-item;
		margin-left: 2em;
	}

	.list_2{
		grid-column: 2 / span 1;
		padding-top: 0;
	}

	.bottom-container{
		display:flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.empty_text{
		display: none;
	}

	.empty_text_tablet{
		display: block;
		text-align: center;
		opacity:0;
		line-height: normal;
		padding-top: 5px;
	}

	.pic_grid_b{
		display: grid;
		height: fit-content;
    	grid-gap: 20px;
		text-align: center;
		padding-top: 20px;
		margin-right: -20px;
	}

	.pic_grid{
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.pic_subtitle{
		line-height: normal;
	}

	.m{
		flex: 50%;
    	max-width: 50%;
	}

	figcaption{
		border: none;
		padding: 0 10px 10px 10px;
	}

	.pic1{
		grid-column: 1 / span 1;
		padding-top: 0;
	}

	.pic2{
		grid-column: 2 / span 2;
	}

	.pic3{
		grid-row: 2 / span 1;
		grid-column: 1 / span 1;
		padding-top: 20px;
		border-top: solid #8AD24B;
	}

	.pic4{
		grid-row: 2 / span 1;
		grid-column: 2 /span 1;
		padding-top: 20px;
		border-top: solid #8AD24B;
	}

	.pic5{
		grid-row: 3 /span 1;
		grid-column: 1 / span 1;
		padding-top: 20px;
		border-top: solid #8AD24B;
	}

	.pic6{
		grid-row: 3 / span 1;
		grid-column: 2 / span 1;
		padding-top: 20px;
		border-top: solid #8AD24B;
		border-bottom: none;
	}


	.gal .pic_title{
		display: none;
	}

	.g_text .g_text_lp{
		display: block;
		font-weight:500;
		font-size: 22px;
		padding-left: 20px;
		padding-top: 10px; 
	}

	.g_text .g_text_rp{
		display: block;
		font-weight: 500;
		font-size: 22px;
		text-align: center;
		padding-right: 20px;
		padding-top: 10px;
	}


	.gallery .gal:nth-child(odd) {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: solid #8AD24B;
		padding: 10px;
	}

	.gallery .gal:last-child{
		border-bottom: none;
	}

	.gallery .gal:nth-child(even){
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		border-bottom: solid #8AD24B;
		padding: 10px;
	}

	.gallery_image{
		margin-bottom: 10px;
	}

	.g_text1{
		padding-left: 20px;
		border: none;
	}

	.g_text2{
		padding-right: 20px;
		border: none;
	}

	.desktop_text{
		display: none;
	}

	.mobile_text{
		display: block;
		padding-right: 10px;
		padding-left: 10px
	}

	.heading_full{
		border: none;
	}

	#contact_line .line{
		display: block;
		width: 60%;
	}

	.form-group{
		display:contents;
	}

	.form_container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
		padding: 20px;
	}

	.form_container label{
		display: flex;
		width: 60%;
		text-align: left;
	}

	input {
		width: 60%;
	}
	
	input[type="text"], input[type="email"], textarea{
		width: 60%;
	}

	button{
		width: 25%;
	} 

	#full_page_container{
		position: relative;
  		min-height: 100vh;
	}

	footer{
		margin-top: auto;
		position: unset;
	}

	footer p{
		font-size: 16px;
	}

	#contact{
		color: white;
		font-weight: 400px;
		font-size: 15px;
		text-decoration: none;
	}

}

/* laptop/desktop */
@media screen and (min-width: 992px) {
	body{
		font-size: 22px;
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}
	.container{
		padding: 0 25px;
	}

	header{
		padding: 18px 10px 10px 30px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.nav_links{
		padding-right: 15px; 
	}

	#about_image{
	   animation-name: pic_grow;
	   animation-duration: 4s;
	   animation-iteration-count: 1;
	 }
	 
	 @-webkit-keyframes pic_grow {
	   from {
		 width: 50px;
		 opacity: 0.5;
	   }
	   to {
		 width: 221px;
		 opacity: 1;
	   }
	 }

	 @keyframes pic_grow {
		from {
		  width: 50px;
		  opacity: 0.5;
		}
		to {
		  width: 221px;
		  opacity: 1;
		}
	  }

	#logo {
		content: url("../images/header_logo1.png");
		width: 500px;
		height: auto;
		margin-left: 15px;
		padding-right: 10px;
	}

	.pic_img{
		height: 350px;
		width: 260px;
		margin: 0;
	}

	header .line{
		display: none;
	}

	.mobile_text{
		display: none;
	}

	.desktop_text{
		display: block;
	}

	.p_space_below{
		text-align: left;
	}

	.p_space_above{
		text-align: left;
	}

	.list_grid{
		grid-template-columns: repeat(2, minmax(0, 1fr));
		padding: 10px;

	}

	.pic_grid{
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.pic1{
		grid-column: 1 / span 1;
		border-bottom: solid #8AD24B;
		text-align: center;
	}
	.pic2{
		grid-column: 2/ span 1;
		border-bottom: solid #8AD24B;
	}
	.pic3{
		grid-column: 3 / span 1;
		grid-row: 1 / span 1;
		border-bottom: solid #8AD24B;
		border-top: none;
		padding-top: 0px;
	}

	.pic4{
		grid-row: 2 / span 1;
		grid-column: 1 /span 1;
		border-top: none;
		padding: none;
	}

	.pic5{
		grid-row: 2 /span 1;
		grid-column: 2 / span 1;
		border-top: none;
		padding: none;
	}

	.pic6{
		grid-row: 2 / span 1;
		grid-column: 3 / span 1;
		border-top: none;
		padding: none;
	}

	figcaption{
		border-bottom: none;
		padding: 15px;
	}

	.g_text .g_text_lp, .g_text .g_text_rp{
		font-weight: 600;
	}

	/* https://tympanus.net/codrops/2011/11/02/original-hover-effects-with-css3/ */
	.view {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 10px;
		overflow: hidden;
		position: relative;
		background: #fff;
	}

	.view a.mask_link{
		display: none;
	}

	.view img { 
		transition: all 0.4s ease-in-out 0.2s;
		opacity: 1;
		align-self: center;
		margin: 10px 0;
		z-index: 1;
	}

	.view .mask { 
		display: flex;
		margin: 10px;
		padding: 5px;
		flex-direction: column;
		justify-content: center;
		height: 350px;
		width: 260px;
		position: absolute;
		background-color: #21597E80;
		transform: scale(0) rotate(-180deg);
		-webkit-transform: scale(0) rotate(-180deg);
		transition: all 0.4s ease-in;
		-webkit-transition: all 0.4s ease-in;
		z-index: 2;
	}

	.view:hover .mask { 
		opacity: 1; 
		align-content: center;
		justify-content: center;
		transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		transition-delay: 0.2s;
		-webkit-transition-delay: 0.2s;
		align-self: center;
		z-index: 2;
	}

	.view a.info { 
		display: block;
		opacity: 1;
		text-decoration: none;
		padding:10px;
		background: #000;
		margin-bottom: 5px;
		color: #fff;
		box-shadow: 0 0 3px #000;
		align-self: center;
	} 

	.view a.info:hover{
		display: block;
		text-decoration: none;
		background: #000;
		border: double #8AD24B;
		margin-bottom: 5px;
		color: #fff;
		box-shadow: 0 0 3px #000;
		align-content: center;
		align-self: center;
		opacity: 1;
	}

	.view:focus-within .mask{
		transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
	}

	.empty_text{
		display: block;
		text-align: center;
		opacity:0;
		line-height: normal;
	}

	.empty_text_tablet{
		display: none;
	}

	footer{
		margin-top: auto;
		position: unset;
	}

	footer p{
		font-size: 16px;
	}

	#contact{
		color: white;
		font-weight: 400px;
		font-size: 16px;
		text-decoration: none;
	}

	#contact_line .line{
		width: 50%;
	}


	.form_container label{
		display: flex;
		width: 50%;
		text-align: left;
	}

	input {
		width: 50%;
	}
	
	input[type="text"], input[type="email"], textarea{
		width: 50%;
	}

	button{
		width: 15%;
	} 

}

@media screen and (prefers-reduced-motion) {

	html{
		scroll-behavior: auto; /* Removes scroll animation */
	}

	.view .mask { 
		transform: scale(0);
		-webkit-transform: scale(0);
		transition: none;
		-webkit-transition: none;
	}

	.parallax_image_b, .parallax_image_m{
		background-attachment: initial;
		background-size: contain;
	}

	.parallax_image_i, .parallax_image_t{
		background-attachment: initial;
		background-size: cover;
	}

	.flip-card .flip-card-inner {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
	}

	#about_image {
		animation: none;
	  }

}
